.customTextArea {
    width: 100%;
    text-align: center;
    background-color: #3B3B3B;
    color: gold;
    height: 3rem;
    border: none;
    font-family: monospace;
    font-size: calc(0.5rem + 1.1vw);
}

.customTextArea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Remove colored border when unfocus text area*/
.valid.modified:not([type=checkbox]) {
    outline: none;
}