@using CheckMyDirs.Common.Models
@using System.Text

<article class="article-center">
    
    @if (IsLoading)
    {
        <p>Loading...</p>
    }
    else
    {
        @if (Report?.Message is not null)
        {
            <strong class="report-title details">Details</strong>
            <div class="report-message">@(Report?.Message ?? string.Empty)</div>

            <br/>

            <p class="report-text">
                @TextResult()
            </p>
            

        }
        else if (Report?.Error is not null)
        {
            <strong class="report-title error">Error</strong>
            <div class="report-message">@Report.Error</div>
        }
    }
    
</article>

@code {

    [Parameter]
    public FinalReportType? Report { get; set; }
    
    [Parameter]
    public bool IsLoading { get; set; }

    private string TextResult()
    {
        var sb = new StringBuilder();

        foreach (var record in Report?.Records ?? new List<string>())
        {
            sb.Append(record)
                .Append('\n');
        }

        return sb.ToString();
    }
    
}