@using CheckMyDirs.Common.Models

<article class="article-center">
    
    @if (IsLoading)
    {
        <p>Loading...</p>
    }
    else
    {
        @if (Report?.Error is null)
        {
            <strong class="report-title details">Details</strong>
            <div class="report-message">@(Report?.Message ?? string.Empty)</div>

            <br/>

            <table class="records-table">
                @foreach (var report in Report?.Records ?? new List<string>())
                {
                    <tr>@report</tr>
                }
            </table>
        }
        else
        {
            <strong class="report-title error">Error</strong>
            <div class="report-message">@Report.Error</div>
        }
    }
    
</article>

@code {
    [Parameter]
    public FinalReportType? Report { get; set; }
    
    [Parameter]
    public bool IsLoading { get; set; }
}